/* Enter your Styles below! */

body, html {
  height: 100%;
}
blockquote {
	margin: 20px 60px;
	font-family: Helvetica, sans-serif;
}

header {margin-bottom: 20px;}

/* ensures that your images stretch the width of their containers */
img { width: 100%; }

a { 
	text-decoration: none;
	 }

a:hover { color: #B17A7A; }


@media only screen and (min-width: 300px){

	main {
		background-color:red;
	}

	h1{
		font-family: Paralucent, sans-serif;
		font-size: 24pt;
		letter-spacing: .7px;
		line-height: 35px;
	}

	h2 {
		font-family: Metallophile Sp8, sans-serif;
		font-size: 18pt;
	}

	h3 {
		font-size: 28px;
	}

	h4 {
		font-family: Brandon Grotesque, sans-serif;
		font-size: 14pt;
	}

	h5{
		font-family: Paralucent, sans-serif;
		font-size: 14pt;
		letter-spacing: .7px;
		line-height: 35px;
	}

	h6{
		font-family: Brandon Grotesque, sans-serif;
		font-size: 18pt;		
	}
	p {
		font-family: Metallophile Sp8, sans-serif;
		font-size: 14pt;
		line-height: 22px
	}

	.container{
	  .ot-dtp-picker.wide .ot-powered-by{
	    text-align: center;
	    background-position: center;
	  }
	}

	.hamburger_background{
		transition: background-color .5s;
		width: 100%;
		height: 100vh;
		position: fixed;
		z-index: -10;
	}

	.grid_banner {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 10%;
		height:100vh;
		width: 100%;
		margin: auto;
	}

	.image_one{
		object-fit: cover;
		height: 100%;
	}

	.image_one img {
		position: absolute;

	}

	.item_1 {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		height: 100%;
		background-color: blue;
		z-index: 2;				
	}

	.item_2 {
		min-width: 50px;
		grid-column: 3 / 4;
		grid-row: 1 / 2;
		height: 60px;
		z-index: 10;
	}

		.homepage_hamburger_transition_color{
			padding-top: 15px;
		    transition: background-color .5s;
		}

		.homepage_hamburger_placement{
		    float: right;
			width: 80px;
		}

		.navigation {
		    width: 100%;
		    position: relative;
		    z-index: 1;
		    top: 0;
		    left: 0;
		    overflow: hidden;
		    transition: all 0.4s ease-in-out;
		    padding-top: 0px;
		}

		.navigation a {
		    text-decoration: none;
		}

		.navigation ul {
		    margin-top:30px;
		    text-align:center;
		    list-style:none; 
		    margin-left:auto;
		    margin-right:auto;
		}
		.menu_item_container{
			padding-top: 20px;
			position: absolute;
			margin-left: auto;
			margin-right: auto;
			left: 0; 
			right: 0;			
		}
		.menulist {
			padding-top: 40px;
			text-align:center;
			width: 100%;
			height: 600px;

		}

		.logo {
		    text-align:center;
		    margin:0 auto;
		}

		.line1, .line2, .line3 {
		  margin-top:5px;
		  background-color: black;
		  width:32px;
		  height:5px;
		  display:block;
		  position:relative;
		  opacity:1.0;
		  border-radius:15%;
		}

		#line_one_id{
			transition: all .3s;
		}

		#line_two_id{
			transition: all .3s;
		}

		#line_three_id{
			transition: all .3s;
		}


		.line1_active {
		  transform: rotate(270deg);
		  opacity:0.0;
		  background-color: #E8DCDC;
		  top:5px;
		}

		.line2_active {
		  transform: rotate(45deg);
		  background-color: #E8DCDC;
		}

		.line3_active {
		  transform: rotate(-45deg);
		  background-color: #E8DCDC;
		  top:-7px;
		}

		.menuitems {
		    padding-top: 24px;
		    padding-bottom: 12px;
		    text-decoration: none;
		    list-style:none; 
		    font-family: Paralucent, sans-serif;
		    font-size: 20pt;
		    letter-spacing: .7px;
		    display: inline-block;
		    position: relative;
		    color: #E8DCDC;
		    opacity:0.0;
		    transition: all .5s ease-in-out;
		}

		.visibility_hidden{
			visibility: hidden;
		}

		.visibility_show{
			visibility: visible;
		}		

		.menuitems:after {
		  content:'';
		  display:block;
		  width: 0;
		  height: 1px;
		  background: #E8DCDC;
		  transition: width .2s;
		}

		.menuitems:hover::after {
		    width:100%;
		}

		#closebtn {
		    height:25px;
		    width:25px;	
		    position: absolute;
		    text-decoration:none;
		    top: 10px;
		    left: 25px;
		    font-size: 36px !important;
		    margin-right: 50px;
		    z-index:100;
		    color:#fff;
		    cursor:pointer;
		    transition:background-position .3s;
		}

		#main {	
		    transition: margin-top .4s;
		    text-align:center;
		    margin:auto;
		    padding: 16px;
		    font-size:30px;
		}

	.item_3 {
		grid-column: 1 / 4;
		grid-row: 1 / 11;
		z-index: 1;
		background-color: lavender;
	}

	.item_4 {
		grid-column: 2 / 3;
		grid-row: 6 / 8;
		height: 140px;
		background-color: purple;		
		z-index: 2;

	}

	.item_5 {
  		align-self: end;
		grid-column: 2 / 3;
		grid-row: 9 / 11;
		background-color: purple;
		height: 140px;
		z-index: 2;

	}		

/*---------------------------------------------------------------------------------------------*/


section {
  position: relative;
  width: 100%;
  height: 100%;
}
section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0) 0%,rgba(0,0,0,0) 0%);
}

.section04_container{
	bottom: 0;
	margin-top: 80px;
}

.demo a {
  display: flex;
  align-items: center; 
  justify-content: center;   
  z-index: 2;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}

#section04 a {
  padding-top: 60px;
}

#section04 a span {
  position: absolute;
  top: 0;
  left: 47%;
  width: 44px;
  height: 44px;
  margin-left: -12px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}


/*-----------------------------------------------------------------------------------------------*/

	.grid {
		padding-top: 40px;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(20, 100px);
		width: 100%;
		margin: auto;
		grid-gap: 40px;

	}


	.item_6 {
		padding-left: 40px;
		padding-right: 40px;
		grid-column: 1 / 13;
		grid-row: 1 / 5;
		background-color: #E8DCDC;
		display: flex;
 		align-items: center; 
  		justify-content: center;
	}
	
	.home_page_centering{

	}
	.homepage_intro_1{
		text-align: center;
	}

	.homepage_intro_2{
		text-align: center;
	}	

	.homepage_intro_paragraph
	{
		padding-top: 15px;
	}

	.homepage_learn_more_wrapper
	{
		padding-top: 30px;

	}

	.homepage_learn_more
	{
		background-color: white;
		text-align: center;
		align-content: center;
		margin-left: 30%;
		margin-right: 30%;
		padding-top: 3px;
		padding-bottom: 4.5px;
		border: solid;
		border-width: 1px;

	}
	.item_7 {
		padding-left: 40px;
		padding-right: 40px;		
		grid-column: 1 / 13;
		grid-row: 5 / 9;
		background-color: teal;
		display: flex;
 		align-items: center; 
  		justify-content: center;		
	}

	.homepage_our_menu{
		text-align: center;
		color: #E8DCDC;						
	}

	.homepage_our_menu_description{
		padding-top: 20px;
		margin-left: 20px;
		color: #E8DCDC;						
	}

	.menu_links_container{
		padding-top: 20px;
	}

	.menu_links{
		padding-top: 10px;
		text-align: center;
	}

	.menu_links a{
		color: #E8DCDC;				
	}

	.item_8 {
		padding-left: 40px;
		padding-right: 40px;		
		grid-column: 1 / 13;
		grid-row: 9 / 13;
		background-color: teal;
		display: flex;
 		align-items: center; 
  		justify-content: center;		
	}

	.drink_links_container{
		padding-top: 20px;
	}

	.drink_links{
		padding-top: 10px;
		text-align: center;
	}

	.drink_links a{
		color: #E8DCDC;				
	}
	.item_9 {
		padding-top: 6em;
		grid-column: 1 / 13;
		grid-row: 13 / 17;
		background-color: teal;
	}

	.item_9_1{
		margin: auto;
		width: 224px;
		height: 301px;
		background-color: red;
		}

	.item_10 {
		grid-column: 1 / 13;
		grid-row: 17 / 21;
		background-color: teal;
	}

	.grid_footer {
		padding-top: 40px;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(40, 100px);
		width: 100%;
		margin: auto;
		grid-gap: 40px;
	}

	.item_11 {
		padding-top: 40px;
		padding-right: 40px;
		padding-left: 40px;
		grid-column: 1 / 13;
		grid-row: 1 / 41;
		background-color: #85332D;
	}

	.footer_time_main_title{
		color: #E8DCDC;				
	}		

	.footer_time_title{
		color: #E8DCDC;						
		padding-top: 20px;
	}

	.footer_time_schedule{
		color: #E8DCDC;				
	}

	.footer_contact_title_title{
		color: #E8DCDC;						
		padding-top: 20px;
	}

	.footer_contact_title{
		color: #E8DCDC;						
		padding-top: 20px;
	}

	.footer_contact_schedule{
		color: #E8DCDC;						
	}

	.footer_email_address{
		color: #E8DCDC;						
		float:left;
	}

	html {
	  box-sizing: border-box;
	}

	* {
	  box-sizing: inherit;
	}


	.subscribe {
	  position: relative;	
	  margin: auto;
	  width: 300px;
	  height: 30px;
	  background: #fff;
	}

	.placeholder {
	  position: absolute;
	  top: 5px;
	  left: 10px;
	  font-family: Metallophile Sp8, sans-serif;
	  font-size: 1.2em;
	  color: gray;
	  pointer-events: none;
	  transition: opacity 0.25s ease, transform 0.35s ease;
	}

	input[type="text"] {
	  float: left;
	  height: 100%;
	  width: 70%;
	  border: 0;
	  outline: none;
	  font-size: 1.5em;
	  padding-left: 10px;
	  padding-right: 10px;
	  color: grey;
	}

	button {
	  float: right;
	  width: 30%;
	  height: 100%;
	  background: #D86158;
	  border: 2px solid #D86158;
	  padding: 0;
	  font-family: Metallophile Sp8, sans-serif;	  
	  font-size: 1.2em;
	  color: #fff;
	  cursor: pointer;
	  outline: none;
	  transition: transform 0.75s ease, background 0.35s ease;
	  
	  &:hover {
	    background: #c6544d;
	  }
	}

	.move-btn {
	  transform: translateX(-210px);
	}

	.placeholder-active {
	  opacity: 1 !important;
	  transform: translateX(120px);
	}

	.more-concepts {
	  position: absolute;
	  left: 50%;
	  bottom: 20px;
	  transform: translateX(-50%);
	  text-decoration: none;
	  color: #fff;
	  
	  &:hover {
	    text-decoration: underline;
	  }
	}
	/*---------------------------------SOCIAL MEDIA BUTTONS---------------------------------*/
	.social_media_buttons{
		padding-top: 55px;
	}
	.container_smedia_buttons {
	  margin: 0px auto 0px auto;
	  text-align: center;
	}

	.effect {
	  width: 100%;
	  padding: 0px 0px 0px 0px;
	}

	.effect:nth-child(2) {
	  margin-top: 50px;
	}
	.effect:nth-child(2n+1) {
	}
	.effect:nth-child(2n+1) h2 {
	  color: #212121;
	}
	.effect .buttons {
	  margin-top: 0px;
	  display: flex;
	  justify-content: left;
	}
	.effect a:last-child {
	  margin-right: 0px;
	}

	/*common link styles !!!YOU NEED THEM*/
	.effect {
	  /*display: flex; !!!uncomment this line !!!*/
	}
	.effect a {
	  text-decoration: none !important;
	  color: #fff;
	  width: 35px;
	  height: 35px;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  border-radius: 5px;
	  margin-right: 15px;
	  font-size: 20px;
	  overflow: hidden;
	  position: relative;
	}

	.effect a i {
	  position: relative;
	  z-index: 3;
	}
	.effect a.fb {
	  background-color: #E8DCDC;
	}
	.effect a.tw {
	  background-color: #E8DCDC;
	}
	.effect a.yelp {
	  background-color: #E8DCDC;
	}
	.effect a.insta {
	  background-color: #E8DCDC;
	}
	.effect a.tripadvisor {
	  background-color: #E8DCDC;
	}


	/* aeneas effect */
	.effect.aeneas a {
	  transition: border-top-left-radius 0.1s linear 0s, border-top-right-radius 0.1s linear 0.1s, border-bottom-right-radius 0.1s linear 0.2s, border-bottom-left-radius 0.1s linear 0.3s, -webkit-transform 0.4s linear 0s;
	  transition: transform 0.4s linear 0s, border-top-left-radius 0.1s linear 0s, border-top-right-radius 0.1s linear 0.1s, border-bottom-right-radius 0.1s linear 0.2s, border-bottom-left-radius 0.1s linear 0.3s;
	  transition: transform 0.4s linear 0s, border-top-left-radius 0.1s linear 0s, border-top-right-radius 0.1s linear 0.1s, border-bottom-right-radius 0.1s linear 0.2s, border-bottom-left-radius 0.1s linear 0.3s, -webkit-transform 0.4s linear 0s;
	}
	.effect.aeneas a i {
	  transition: -webkit-transform 0.4s linear 0s;
	  transition: transform 0.4s linear 0s;
	  transition: transform 0.4s linear 0s, -webkit-transform 0.4s linear 0s;
	}
	.effect.aeneas a:hover {
	  -webkit-transform: rotate(360deg);
	          transform: rotate(360deg);
	  border-radius: 50%;
	}
	.effect.aeneas a:hover i {
	  -webkit-transform: rotate(-360deg);
	          transform: rotate(-360deg);
	}

	.footer_links{
		display: inline-block;
		padding-top: 20px;
		width: 100%;
	}
	
	.footer_links_single a{
		color: #E8DCDC;				
	}

	.footer_links_single a:hover{
		color: #CFAFAF;				
	}	

	.footer_links_single{
		color: #E8DCDC;		
	}


/* ----------Subpage_Food---------- */
	main {
		background-color:red;
	}

	.hamburger_background_food{
		transition: background-color .5s;
		width: 100%;
		height: 100vh;
		position: fixed;
		z-index: -10;
	}

	.grid_banner_food{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 100%;
		height:10vh;
		width: 100%;
		margin: auto;
	}


	.image_one_food {
		object-fit: cover;
		height: 100%;
	}

	.image_one_food img {
		position: absolute;

	}

	.item_1_food {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		height: 100%;
		background-color: blue;
		z-index: 2;		
	}

	.item_2_food {
		min-width: 50px;
		grid-column: 3 / 4;
		grid-row: 1 / 2;
		height: 60px;
		z-index: 10;
	}

	.item_3_food {
		grid-column: 1 / 4;
		grid-row: 1 / 2;
		background-color: beige;
		z-index: -1;
	}

	.grid_food {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(20, 100px);
		width: 100%;
		margin: auto;
	}

	.item_4_food {
		grid-column: 1 / 13;
		grid-row: 1 / 4;
		background-color: purple;
	}

	.item_5_food {
		grid-column: 1 / 13;
		grid-row: 4 / 6;
		background-color: teal;
	}

	.item_6_food {
		grid-column: 1 / 13;
		grid-row: 6 / 21;
		background-color: green;
	}

	.grid_footer_food {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(4, 100px);
		width: 100%;
		margin: auto;
	}

	.item_7_food {
		grid-column: 1 / 13;
		grid-row: 1 / 5;
		background-color: teal;
	}	

/* ----------Subpage_Drinks---------- */
	main {
		background-color:red;
	}

	.grid_banner_drinks {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 100%;
		height: 7vh;
		width: 100%;
		margin: auto;
	}

	.image_one_drinks {
		object-fit: cover;
		height: 100%;
	}

	.image_one_drinks img {
		position: absolute;

	}

	.item_1_drinks {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		background-color: gray;
	}

	.item_2_drinks {
		min-width: 50px;
		grid-column: 3 / 4;
		grid-row: 1 / 2;
		background-color: gray;
	}

	.item_3_drinks {
		grid-column: 1 / 4;
		grid-row: 1 / 2;
		background-color: beige;
		z-index: -1;
	}

	.grid_drinks {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(20, 100px);
		width: 100%;
		margin: auto;
	}

	.item_4_drinks {
		grid-column: 1 / 13;
		grid-row: 1 / 4;
		background-color: purple;
	}

	.item_5_drinks {
		grid-column: 1 / 13;
		grid-row: 4 / 6;
		background-color: teal;
	}

	.item_6_drinks {
		grid-column: 1 / 13;
		grid-row: 6 / 21;
		background-color: green;
	}

	.grid_footer_drinks {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(4, 100px);
		width: 100%;
		margin: auto;
	}

	.item_7_drinks {
		grid-column: 1 / 13;
		grid-row: 1 / 5;
		background-color: teal;
	}		

/* ----------Subpage_Our_Story---------- */
	main {
		background-color:red;
	}

	.grid_banner_our_story {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 100%;
		height: 7vh;
		width: 100%;
		margin: auto;
	}

	.image_one_our_story {
		object-fit: cover;
		height: 100%;
	}

	.image_one_our_story img {
		position: absolute;

	}

	.item_1_our_story {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		background-color: gray;
	}

	.item_2_our_story {
		min-width: 50px;
		grid-column: 3 / 4;
		grid-row: 1 / 2;
		background-color: gray;
	}

	.item_3_our_story {
		grid-column: 1 / 4;
		grid-row: 1 / 2;
		background-color: beige;
		z-index: -1;
	}

	.grid_our_story {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(27, 100px);
		width: 100%;
		margin: auto;
	}

	.item_4_our_story {
		grid-column: 1 / 13;
		grid-row: 1 / 6;
		background-color: purple;
	}

	.item_5_our_story {
		grid-column: 1 / 13;
		grid-row: 6 / 9;
		background-color: teal;
	}

	.item_6_our_story {
		grid-column: 1 / 13;
		grid-row: 9 / 12;
		background-color: green;
	}

	.item_7_our_story {
		grid-column: 1 / 13;
		grid-row: 12 / 18;
		background-color: purple;
	}

	.item_8_our_story {
		grid-column: 1 / 13;
		grid-row: 18 / 24;
		background-color: teal;
	}		

	.item_9_our_story {
		grid-column: 1 / 13;
		grid-row: 24 / 28;
		background-color: green;
	}

	.grid_footer_our_story {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(4, 100px);
		width: 100%;
		margin: auto;
	}

	.item_10_our_story {
		grid-column: 1 / 13;
		grid-row: 1 / 5;
		background-color: purple;
	}

/* ----------Subpage_Gallery---------- */
	main {
		background-color:red;
	}

	.grid_banner_gallery {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 100%;
		height: 7vh;
		width: 100%;
		margin: auto;
	}

	.image_one_gallery {
		object-fit: cover;
		height: 100%;
	}

	.image_one_gallery img {
		position: absolute;

	}

	.item_1_gallery {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		background-color: gray;
	}

	.item_2_gallery {
		min-width: 50px;
		grid-column: 3 / 4;
		grid-row: 1 / 2;
		background-color: gray;
	}

	.item_3_gallery {
		grid-column: 1 / 4;
		grid-row: 1 / 2;
		background-color: beige;
		z-index: -1;
	}

	.grid_gallery {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(27, 100px);
		width: 100%;
		margin: auto;
	}

	.item_4_gallery {
		grid-column: 1 / 13;
		grid-row: 1 / 6;
		background-color: green;
	}

	.item_5_gallery {
		grid-column: 1 / 7;
		grid-row: 6 / 8;
		background-color: purple;
	}

	.item_6_gallery {
		grid-column: 7 / 13;
		grid-row: 6 / 8;
		background-color: blue;
	}

	.item_7_gallery {
		grid-column: 1 / 7;
		grid-row: 8 / 10;
		background-color: blue;
	}

	.item_8_gallery {
		grid-column: 7 / 13;
		grid-row: 8 / 10;
		background-color: purple;
	}

	.item_9_gallery {
		grid-column: 1 / 13;
		grid-row: 10 / 15;
		background-color: green;
	}

	.item_10_gallery {
		grid-column: 1 / 7;
		grid-row: 15 / 17;
		background-color: blue;
	}

	.item_11_gallery {
		grid-column: 7 / 13;
		grid-row: 15 / 17;
		background-color: purple;
	}	

	.item_12_gallery {
		grid-column: 1 / 7;
		grid-row: 17 / 19;
		background-color: purple;
	}

	.item_13_gallery {
		grid-column: 7 / 13;
		grid-row: 17 / 19;
		background-color: blue;
	}	

	.item_14_gallery {
		grid-column: 1 / 13;
		grid-row: 19 / 24;
		background-color: green;
	}

	.item_15_gallery {
		grid-column: 1 / 7;
		grid-row: 24 / 26;
		background-color: blue;
	}

	.item_16_gallery {
		grid-column: 7 / 13;
		grid-row: 24 / 26;
		background-color: purple;
	}	

	.item_17_gallery {
		grid-column: 1 / 7;
		grid-row: 26 / 28;
		background-color: purple;
	}

	.item_18_gallery {
		grid-column: 7 / 13;
		grid-row: 26 / 28;
		background-color: blue;
	}		

	.grid_footer_gallery {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(4, 100px);
		width: 100%;
		margin: auto;
	}

	.item_19_gallery {
		grid-column: 1 / 13;
		grid-row: 1 / 5;
		background-color: orange;
	}				
}

@media only screen and (min-width: 1224px) {
	main {
		background-color:red;
	}

	.grid_banner {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 10%;
		height:100vh;
		width: 100%;
		margin: auto;
	}

	.image_one{
		object-fit: cover;
		height: 100%;
	}

	.image_one img {
		position: absolute;

	}

	.item_1 {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		background-color: gray;
		height: 60px;
	}

	.item_2 {
		min-width: 50px;
		grid-column: 3 / 4;
		grid-row: 1 / 2;
		background-color: gray;
		height: 60px;
	}
			
	.item_3 {
		grid-column: 1 / 4;
		grid-row: 1 / 11;
		background-color: blue;
		z-index: -1;
	}

	.item_4 {
		grid-column: 2 / 3;
		grid-row: 6 / 8;
		background-color: pink;
	}

	.item_5 {
		grid-column: 2 / 3;
		grid-row: 9 / 11;
		background-color: purple;
	}		

	.grid {
		padding-top: 40px;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(12, 100px);
		width: 100%;
		margin: auto;
		grid-gap: 40px;

	}

	.item_6 {
		grid-column: 1 / 7;
		grid-row: 1 / 5;
		background-color: green;
	}

	.item_7 {
		grid-column: 7 / 13;
		grid-row: 1 / 5;
		background-color: teal;
	}

	.item_8 {
		grid-column: 1 / 7;
		grid-row: 5 / 9;
		background-color: teal;
	}

	.item_9 {
		grid-column: 7 / 13;
		grid-row: 5 / 9;
		background-color: teal;
	}
	.item_10 {
		grid-column: 1 / 13;
		grid-row: 9 / 13;
		background-color: teal;
	}

	.grid_footer {
		padding-top: 40px;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(4, 100px);
		width: 100%;
		margin: auto;
		grid-gap: 40px;
	}

	.item_11 {
		grid-column: 1 / 13;
		grid-row: 1 / 5;
		background-color: teal;
	}		
/* ----------Subpage_Food---------- */
	main {
		background-color:red;
	}

	.grid_banner_food {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 100%;
		height: 7vh;
		width: 100%;
		margin: auto;
	}

	.image_one_food {
		object-fit: cover;
		height: 100%;
	}

	.image_one_food img {
		position: absolute;

	}

	.item_1_food {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		background-color: gray;
		min-height: 60px;
		z-index: 2;		
	}

	.item_2_food {
		min-width: 50px;
		grid-column: 3 / 4;
		grid-row: 1 / 2;
		background-color: gray;
		min-height: 60px;
		z-index: 2;		

	}

	.item_3_food {
		grid-column: 1 / 4;
		grid-row: 1 / 2;
		background-color: beige;
		z-index: -1;
		min-height: 60px;
		z-index: 1;		

	}

	.grid_food {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(20, 100px);
		width: 100%;
		margin: auto;

	}

	.item_4_food {
		grid-column: 1 / 13;
		grid-row: 1 / 7;
		background-color: purple;
	}

	.item_5_food {
		grid-column: 1 / 13;
		grid-row: 7 / 10;
		background-color: teal;
	}

	.item_6_food {
		grid-column: 1 / 13;
		grid-row: 10 / 21;
		background-color: green;
	}

	.grid_footer_food {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(4, 100px);
		width: 100%;
		margin: auto;
	}

	.item_7_food {
		grid-column: 1 / 13;
		grid-row: 1 / 5;
		background-color: teal;
	}	

/* ----------Subpage_Drinks---------- */
	main {
		background-color:red;
	}

	.grid_banner_drinks {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 100%;
		height: 7vh;
		width: 100%;
		margin: auto;
	}

	.image_one_drinks {
		object-fit: cover;
		height: 100%;
	}

	.image_one_drinks img {
		position: absolute;

	}

	.item_1_drinks {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		background-color: gray;
		min-height: 60px;
		z-index: 2;						
	}

	.item_2_drinks {
		min-width: 50px;
		grid-column: 3 / 4;
		grid-row: 1 / 2;
		background-color: gray;
		min-height: 60px;
		z-index: 2;								
	}

	.item_3_drinks {
		grid-column: 1 / 4;
		grid-row: 1 / 2;
		background-color: beige;
		z-index: -1;
		min-height: 60px;
		z-index: 1;		

	}

	.grid_drinks {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(20, 100px);
		width: 100%;
		margin: auto;

	}

	.item_4_drinks {
		grid-column: 1 / 13;
		grid-row: 1 / 7;
		background-color: purple;
	}

	.item_5_drinks {
		grid-column: 1 / 13;
		grid-row: 7 / 10;
		background-color: teal;
	}

	.item_6_drinks {
		grid-column: 1 / 13;
		grid-row: 10 / 21;
		background-color: green;
	}

	.grid_footer_drinks {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(4, 100px);
		width: 100%;
		margin: auto;
	}

	.item_7_drinks {
		grid-column: 1 / 13;
		grid-row: 1 / 5;
		background-color: teal;
	}	

/* ----------Subpage_Our_Story---------- */
	main {
		background-color:red;
	}

	.grid_banner_our_story {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 100%;
		height: 7vh;
		width: 100%;
		margin: auto;
	}

	.image_one_our_story {
		object-fit: cover;
		height: 100%;
	}

	.image_one_our_story img {
		position: absolute;

	}

	.item_1_our_story {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		background-color: gray;
		z-index: 2;				
	}

	.item_2_our_story {
		min-width: 50px;
		grid-column: 3 / 4;
		grid-row: 1 / 2;
		background-color: gray;
		z-index: 2;				
	}

	.item_3_our_story {
		grid-column: 1 / 4;
		grid-row: 1 / 2;
		background-color: beige;
		z-index: 1;
	}

	.grid_our_story {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(33, 100px);
		width: 100%;
		margin: auto;
	}

	.item_4_our_story {
		grid-column: 1 / 13;
		grid-row: 1 / 8;
		background-color: purple;
	}

	.item_5_our_story {
		grid-column: 1 / 7;
		grid-row: 8 / 12;
		background-color: teal;
		z-index: 1;		
	}

	.item_6_our_story {
		grid-column: 7 / 13;
		grid-row: 8 / 12;
		background-color: green;
	}

	.item_7_our_story {
		grid-column: 4 / 10;
		grid-row: 12 / 20;
		background-color: purple;
		z-index: 1;		

	}

	.item_8_our_story {
		grid-column: 4 / 10;
		grid-row: 20 / 28;
		background-color: teal;
	}		

	.item_9_our_story {
		grid-column: 1 / 13;
		grid-row: 28 / 34;
		background-color: green;
	}

	.grid_footer_our_story {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(4, 100px);
		width: 100%;
		margin: auto;
	}

	.item_10_our_story {
		grid-column: 1 / 13;
		grid-row: 1 / 5;
		background-color: purple;
	}

/* ----------Subpage_Gallery---------- */
	main {
		background-color:red;
	}

	.grid_banner_gallery {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 100%;
		height: 7vh;
		width: 100%;
		margin: auto;
	}

	.image_one_gallery {
		object-fit: cover;
		height: 100%;
	}

	.image_one_gallery img {
		position: absolute;

	}

	.item_1_gallery {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		background-color: gray;
		z-index: 2;				
	}

	.item_2_gallery {
		min-width: 50px;
		grid-column: 3 / 4;
		grid-row: 1 / 2;
		background-color: gray;
		z-index: 2;				
	}

	.item_3_gallery {
		grid-column: 1 / 4;
		grid-row: 1 / 2;
		background-color: beige;
		z-index: 1;
	}

	.grid_gallery {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(24, 100px);
		width: 100%;
		margin: auto;
	}

	.item_4_gallery {
		grid-column: 1 / 13;
		grid-row: 1 / 6;
		background-color: green;
	}

	.item_5_gallery {
		grid-column: 1 / 4;
		grid-row: 6 / 9;
		background-color: purple;
	}

	.item_6_gallery {
		grid-column: 4 / 7;
		grid-row: 6 / 9;
		background-color: blue;
	}

	.item_7_gallery {
		grid-column: 7 / 10;
		grid-row: 6 / 9;
		background-color: teal;
	}

	.item_8_gallery {
		grid-column: 10 / 13;
		grid-row: 6 / 9;
		background-color: orange;		
	}

	.item_9_gallery {
		grid-column: 1 / 13;
		grid-row: 9 / 14;
		background-color: green;
	}

	.item_10_gallery {
		grid-column: 1 / 4;
		grid-row: 14 / 17;
		background-color: blue;
	}

	.item_11_gallery {
		grid-column: 4 / 7;
		grid-row: 14 / 17;
		background-color: yellow;
	}	

	.item_12_gallery {
		grid-column: 7 / 10;
		grid-row: 14 / 17;
		background-color: red;
	}

	.item_13_gallery {
		grid-column: 10 / 13;
		grid-row: 14 / 17;
		background-color: blue;
	}	

	.item_14_gallery {
		grid-column: 1 / 13;
		grid-row: 17 / 22;
		background-color: green;
	}

	.item_15_gallery {
		grid-column: 1 / 4;
		grid-row: 22 / 25;
		background-color: blue;
	}

	.item_16_gallery {
		grid-column: 4 / 7;
		grid-row: 22 / 25;
		background-color: orange;
	}	

	.item_17_gallery {
		grid-column: 7 / 10;
		grid-row: 22 / 25;
		background-color: red;
	}

	.item_18_gallery {
		grid-column: 10 / 13;
		grid-row: 22 / 25;
		background-color: blue;
	}		

	.grid_footer_gallery {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(4, 100px);
		width: 100%;
		margin: auto;
	}

	.item_19_gallery {
		grid-column: 1 / 13;
		grid-row: 1 / 5;
		background-color: aqua;
	}				
}

@media only screen and (min-width: 768px){
	main{
		background-color: green;
	}
}

@media only screen and (min-width: 1024px){
	main{
		background-color: salmon;
	}
}

@media only screen and (min-width: 1200px){
	main{
		background-color: purple;
}

@media only screen and (min-width: 1440px){
	main{
		background-color: yellow;
}
/*
font-family: 'Mansalva', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Indie Flower', cursive;
*/