/* Enter your Styles below! */


body { 
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	 }

h1, h2, h3, h4 {
	font-family: Helvetica, sans-serif;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 24px;
}

blockquote {
	margin: 20px 60px;
	font-family: Helvetica, sans-serif;
}

header {margin-bottom: 20px;}

/* ensures that your images stretch the width of their containers */
img { width: 100%; }

a { 
	color: red;
	text-decoration: none;
	 }

a:hover { color: black; }


@media only screen and (min-width: 300px){

	main{
		background-color:red;
	}

	.grid_banner {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 10%;
		height:100vh;
		width: 100%;
		margin: auto;
	}

	.image_one{
		object-fit: cover;
		height: 100%;
	}

	.image_one img{
		position: absolute;

	}

	.item_1{
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		background-color: gray;
	}

	.item_2{
		min-width: 50px;
		grid-column: 3 / 4;
		grid-row: 1 / 2;
		background-color: gray;
	}

	.item_3{
		grid-column: 1 / 4;
		grid-row: 1 / 11;
		background-color: blue;
		z-index: -1;
	}

	.item_4{
		grid-column: 2 / 3;
		grid-row: 5 / 7;
		background-color: pink;
	}

	.item_5{
		grid-column: 2 / 3;
		grid-row: 9 / 11;
		background-color: purple;
	}		

	.grid {
		padding-top: 40px;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(20, 100px);
		width: 100%;
		margin: auto;
		grid-gap: 40px;

	}

	.item_6{
		grid-column: 2 / 12;
		grid-row: 1 / 5;
		background-color: green;
	}

	.item_7{
		grid-column: 1 / 13;
		grid-row: 5 / 9;
		background-color: teal;
	}

	.item_8{
		grid-column: 1 / 13;
		grid-row: 9 / 13;
		background-color: teal;
	}

	.item_9{
		grid-column: 1 / 13;
		grid-row: 13 / 17;
		background-color: teal;
	}
	.item_10{
		grid-column: 1 / 13;
		grid-row: 17 / 21;
		background-color: teal;
	}

	.grid_footer {
		padding-top: 40px;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(6, 100px);
		width: 100%;
		margin: auto;
		grid-gap: 40px;

	}

}

@media only screen and (min-width: 1224px) {
}

@media only screen and (min-width: 768px){
	main{
		background-color: green;
	}
}

@media only screen and (min-width: 1024px){
	main{
		background-color: salmon;
	}
}

@media only screen and (min-width: 1200px){
	main{
		background-color: purple;
}

@media only screen and (min-width: 1440px){
	main{
		background-color: yellow;
}
/*
font-family: 'Mansalva', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Indie Flower', cursive;
*/